polkit.addRule(function(action, subject) {
    if (
        action.id == "org.freedesktop.policykit.exec" &&
        subject.isInGroup("power") &&
        action.lookup("command_line").indexOf("/bin/sh") >= 0
    ) {
        return polkit.Result.YES;
    }
});
